body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.danger-btn {
    background: red;
    color: white;
}

.action-btn {
    padding: 5px;
    cursor: pointer;
}
